.floating-icons-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
  }
  
  .floating-icon {
    position: absolute;
    user-select: none;
    animation-timing-function: ease-in-out;
  }